<div class='row'>
  <div class='col-lg-12'>
    <%= simple_form_for @user, url: admin_user_path(@user) do |f| %> 
      <%= f.input :email %>
      <%= f.input :name %>
      <hr/>
      <label class='separate'> Optional </label>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.submit 'Save' %>
    <% end %>
  </div>
</div>
